
  <div id ="footer" class="footer align-items-center">
    <div>
      <div>
          <p class="footer-item m-0 d-flex justify-content-center"><a href="#" id="footer-item">Back to top</a></p>
      </div>
      <div class="d-flex justify-content-center">
        <p>Copyright © <%= Date.current.year %> David Flahou</p>
      </div>
    </div>
  </div>

