
<%= render 'shared/navbar' %>

<div id="me">
  <div class="me-info">
    <h1>David Flahou</h1>
    <h2>Music Production & Engineering</h2>
      <div class="social-icons">

        <div class="icons"><a href="https://www.facebook.com/DavidsickMix"><i class="fab fa-facebook-square"></i></a></div>
        <a href="https://www.instagram.com/davidsickmix/"><div class="icons"><i class="fab fa-instagram"></i></div></a>
        <a href="mailto:davidflahoumixing@gmail.com"><div class="icons"><i class="far fa-envelope"></i></div></a>
      </div>
  </div>
</div>
<div id="about">
  <div class="about-info">
    <p>David Flahou is an upcoming producer evolving in the London indie-rock scene.</p>
    <p>David’s path in music started in France by being a guitarist in various local rock bands and toured all over Europe and Russia. He then moved to London to complete a music production degree at the University of West London and a MA in music production at the university of Westminster. </p>
    <p>Specialising in producing, recording and mixing, David has cumulated millions of streams and editorial playlists placements with various artists as well as radio plays (including BBC). Additionally, his multi-rounded abilities allow him to offer services for editing, arranging, composing and mastering in any musical styles.</p>
  </div>
</div>
<div class="container-fluid" id="mywork">
  <div class="row work-container">
    <div class="col-12 col-lg-6 spotify">
      <h2>Production, Mixing and Mastering</h2>
      <iframe src="https://open.spotify.com/embed/playlist/2Gb7vR1NBxrC3sPoB7cws3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="col-12 col-lg-6 videos">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/0xlaSa-dZgA"></iframe>
          </div>
          <div class="carousel-item">
            <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/LC0T-J--s4k"></iframe>
          </div>
          <div class="carousel-item">
            <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/P92Wdkos3Vs"></iframe>
          </div>
          <div class="carousel-item">
              <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/8auOMnkl9vs"></iframe>
          </div>
          <div class="carousel-item">
              <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/ME1pqHmIPrk"></iframe>
          </div>
          <div class="carousel-item">
              <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/hwzq-sfnHjk"></iframe>
          </div>
          <div class="carousel-item">
              <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/Vi7Fmp-jUb0"></iframe>
          </div>
          <div class="carousel-item">
              <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/rqZ2APG-4dY"></iframe>
          </div>
          <div class="carousel-item">
              <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/5UAufVk_K3I"></iframe>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="contact">
  <h2>Contact</h2>
<h3>Davidflahoumixing@gmail.com</h3>
<a href="mailto:davidflahoumixing@gmail.com" class="mail"><div class="icons p-0"><i class="far fa-envelope env-icon"></i></div></a>
</div>
<div id="holy-coven" class="container-fluid">
  <div class="row">
    <div class="holy-infos col-12 col-lg-6 ">
      <%= image_tag "Holy.png", height: 120, width: 100, overflow: :hidden, class: "m-3" %>
      <div class="pl-3">
        <p>Holy Coven is a London based music label, that I created with my dear friend Diego Philips. More than a label our coven is a community of alternative musicians working together to create the music of tomorrow. We are working with various artist and help them to reach their vision by keeping their artistic freedom. A unique platform where everyone works together to produce and release a wide range of interesting and honest music. </p>
        <p>https://holycoven.xyz/</p>
      </div>
    </div>
    <div class="spotify col-12 col-lg-6 ">
      <div><h2>This is the music we like.</h2></div>
      <iframe src="https://open.spotify.com/embed/playlist/4bffOJeo9ghbxoJyT2vu0r" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>


