
<%= render 'shared/navbar' %>

<div id="me">
  <div class="me-info">
    <h1>David Flahou</h1>
    <h2>Music Production & Engineering</h2>
    <div class="social-icons">
      <div class="icons"><i class="fab fa-facebook-square"></i></div>
      <% link_to 'https://www.instagram.com/davidsickmix/' do %>
      <div class="icons"><i class="fab fa-instagram"></i></div>
      <% end %>
      <div class="icons"><i class="far fa-envelope"></i></div>
    </div>
  </div>
</div>
<div id="about">
  <div class="about-info">
    <p>David Flahou is an upcoming French producer evolving in the London indie-rock scene.</p>
<p>David’s path in music started in France by being a guitarist in various local rock bands and toured all over Europe and Russia. He then moved to London to complete a music production degree at the university of West London and a MA in music production at the university of Westminster, David is making a name of himself on the DIY scene of London. </p>
<p>Specializing in producing, recording and mixing, David has cumulated hundreds of thousands of streams and editorial playlists placements with successful artists like OH LA KANADA and Diego Philips. Additionally, his multi-rounded abilities allow him to offer services for editing, arranging, composing and mastering in any musical styles.</p>
<p>Over the past few years, David has been constantly working on his skills and has recently worked with artists like CZG and BabyBl.u with future releases about to hit the music industry.
Co-founder of the record label, Holy Coven, he is very involved in the music industry and very aware of the current trends. </p>
  </div>
</div>
<div id="mywork">
  <div class="work-container">
    <div class="spotify">
      <iframe src="https://open.spotify.com/embed/playlist/2Gb7vR1NBxrC3sPoB7cws3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="videos">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/P92Wdkos3Vs"></iframe>
          </div>
          <div class="carousel-item">
            <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/LC0T-J--s4k"></iframe>
          </div>
          <div class="carousel-item">
              <iframe class="d-block w-100 h-100" frameBorder="0" src="https://www.youtube.com/embed/8auOMnkl9vs"></iframe>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="contact">
<%# render 'contact_form' %>
</div>
<div id="socials">
</div>
<div id="holy-coven">
  <div class="holy-infos">
<p>Holy Coven is a London based music label, that I created with my dear friend Diego Philips. More than a label our coven is a community of alternative musicians working together to create the music of tomorrow. We are working with various artist and help them to reach their vision by keeping their artistic freedom. A unique platform where everyone works together to produce and release a wide range of interesting and honest music. </p>
<p>This is the music we like.</p>
<p>https://holycoven.xyz/</p>
  </div>
  <div class="spotify">
    <iframe src="https://open.spotify.com/embed/playlist/4bffOJeo9ghbxoJyT2vu0r" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>

</div>

