
<%= render 'shared/navbar' %>

<div id="me">
  <div class="me-info">
    <h1>David Flahou</h1>
    <h2>Music Production & Engineering</h2>
  </div>
</div>
<div id="about">
  <div class="about-info">
    <p>David Flahou is an upcoming French producer evolving in the London indie-rock scene.
David’s path in music started in France by being a guitarist in various local rock bands and toured all over Europe and Russia. He then moved to London to complete a music production degree at the university of West London and a MA in music production at the university of Westminster, David is making a name of himself on the DIY scene of London.
Specializing in producing, recording and mixing, David has cumulated hundreds of thousands of streams and editorial playlists placements with successful artists like OH LA KANADA and Diego Philips. Additionally, his multi-rounded abilities allow him to offer services for editing, arranging, composing and mastering in any musical styles.
Over the past few years, David has been constantly working on his skills and has recently worked with artists like CZG and BabyBl.u with future releases about to hit the music industry.
Co-founder of the record label, Holy Coven, he is very involved in the music industry and very aware of the current trends. </p>
  </div>
</div>
<div id="mywork">
  <div class="work-container">
    <div class="spotify">
    </div>
    <div class="videos">
    </div>
  </div>
</div>
<div id="contact">
</div>
<div id="socials">
</div>

