// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('me.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}

.me-info {
  text-align: center;
  color:#F8F8FF;
  font-family: 'Bebas Neue';
  font-size:32px;
  a {
  color: #F8F8FF;
}
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('about.jpeg');
  background-size: cover;
  width: 100%;
  min-height: 60vh;
}

.about-info {
  padding: 24px;
  text-align: center;
  color: #F8F8FF;
  image-fit: cover;
  font-family: 'poppins';
  font-size: 1.15em;
}

body {
  margin: 0px;
  position: relative;
  padding-bottom: 100px;
  background-color: #141301 !important;
}

#navbar {
  height: 75px;
  width: 100%;
  font-family: 'Poppins';
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: flex-end;
  background-color: #141301;
}
.navbar-links {
  list-style: none;
  display: flex;
  padding: 0px;
}

.navbar-link {
  margin-right: 16px;
  a {
    text-decoration: none;
    color: #CECBD2;
    &:hover {
      color: #F8F8FF;
      text-decoration: none;
    }
  }
}

.navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 16px;
  margin-bottom: 8px;
}


.carousel-item {
  height: 445px;
}

#mywork {
}

.spotify {
  padding: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family:'Bebas Neue';
    color: #F8F8FF;
  }
}


.work-container {
  // display: flex;
  // justify-content: space-around;
  background-color: #141301;
  height: 100%;
}

.videos {
  width: 50vw;
  height: 100%;
}

.carousel {
  border: 0px !important;
}

#holy-coven {
  // display: flex;
  // justify-content: space-around;
  background-color: #141301;
}

.holy-infos {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 445px;
  text-align: center;
  color: #F8F8FF;
  a {
  color: #F8F8FF;
}
}

.icons {
  padding: 8px;
  display: inline-block;

}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('contact.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  color: #F8F8FF;
  font-family:'Bebas Neue';
  font-size: 1.5em;

}

.env-icon {
  font-size: 40px;
}

.mail {
  color: #F8F8FF;
}

.footer {
  display: flex;
  height: 89px;
  font-size: 1.125vw;
  justify-content: center;
  font-family: 'Bebas Neue';
  p {
    color: #F8F8FF;
  }
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #141301;
}

.footer-item {
  padding: 0px;
  list-style: none;
  color: #F8F8FF;
  a {
    color: #F8F8FF;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 576px) {
}



