// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  margin: 0px;
}
.navbar {
  height: 100px;
  width: 100%;
  font-family: 'Poppins';
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: flex-end;
}
.navbar-links {
  list-style: none;
  display: flex;
  padding: 0px;
}

.navbar-link {
  margin-right: 16px;
  a {
    text-decoration: none;
    color: #393E41;
    &:hover {
      color: #141301;
    }
  }
}

.navbar-content {
display: flex;
flex-direction: column;
justify-content: flex-end;
margin-right: 16px;
margin-bottom: 8px;
}
